/*
font-family: "Roboto Condensed", sans-serif;
font-family: "Barlow", sans-serif;
font-family: "Quattrocento", serif;
font-family: "Satisfy", cursive;


1. Sarı #FDC913
2. Açık Gri: #5F5F5F
3. Koyu Gri #292929
4. Kırmızı #CE2829
5. Bej: #FAF7F2
*/


body {
  margin: 0;
  font-weight: 400;
  color: black;
  
}

.hero{
  width: 100%;
  height: auto;
  background-image: url("public/assets/iteration-1/home-banner.png");
  background-size: cover;
  background-position: center;
  padding: 6rem 1rem 6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:relative;
  gap: 5rem;
}

.hero .logo {
  display: flex;

}

.hero .content {
  text-align: center;
  width: 40rem;
  height: 19rem;
  margin-bottom: 18rem;
}

.content .firsat {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Satisfy", cursive;
  color: #FDC913;
}

.content .slogan {
  color: white;
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 300;
  max-width: 50rem;
  font-family: "Roboto Condensed", sans-serif;
}

.content .aciktim {
  display: flex;
  text-decoration: none;
  background-color: #FDC913;
  font-weight: 600;
  border-radius: 3rem;
  padding: 0.3rem 1.7rem;
  margin: 1rem auto;
  width: 8rem;
  justify-content: center;
  color: black;
  font-family: "Barlow", sans-serif;
  transition: 0.5s;
  align-items: center;
}

.aciktim:hover{
  display: flex;
  background-color: black;
  color: #FDC913;
}

.menuler ul {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}


.menuler ul a{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1.5rem;
  gap: 0.5rem;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: black;
  font-weight: 500;
  transition: 0.5s;
}

.menuler ul a:hover{
  background-color: black;
  border-radius: 3rem;
  color: white;
}

.ikincisatir{
  background-color: #FAF7F2;;
}

.siparis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dizayn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 3rem;
}

.dizayn .sagdizayn{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 0 1rem;
}

.sagdizaynust{
   display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  position: relative;
  width: 100%;
  max-width: 30rem;
}

.sagdizaynust img{
  border-radius: 1rem;
}

.sagdizayn .sagdizaynustyazi{
  position: absolute;
  color: white;
  text-align: left;
  top:2rem;
  left: 2.2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.7rem;
}

.sagdizaynustyazi a{
  display: inline-flex;
  margin-top: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 1.7rem;
  background-color: white;
  color: #CE2829;
  border-radius: 2rem;
}

.sagdizaynalt{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  max-width: 30rem;
  margin-top: 1rem;
  border-radius: 1rem;
  position: relative;
  background-color: #FFEECC;
}

.sagdizaynalt img{
  border-radius: 1rem;
}

.sagdizaynalt .cocuk{
  position: absolute;
  right: 2rem;           
  bottom: 1.5rem;
  width: 9.5rem; 
}

.sagdizaynaltyazi{
  position: absolute;
  text-align: left;
  top: 1.5rem;               
  left: 2.7rem; 
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
}

.sagdizaynaltyazi .altyazicontent{
  display: flex;
  margin-bottom: 1.3rem;
}

.sagdizaynaltyazi a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.7rem 1.7rem;
  font-weight: 600;
  border-radius: 2rem;
  background-color: white;
  color: #CE2829
  
}

.sagdizaynaltyazi .vurgulu{
  color: #D80027;
}

.dizayn .soldizayn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 30rem;
}

.soldizayn img{
  border-radius: 1rem;
}

.soldizayn .lezzetusyazi{
  position: absolute;
  top: 2.7rem;
  left: 2.7rem;
  text-align: left;
  color: white;
}

.solbaslik {
  font-family: "Quattrocento", serif;
  font-size: 2.4rem;
  line-height: 3.7rem;
}

.solyazi{
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.lezzetusyazi a {
  display: inline-flex;
  margin-top: 0.5rem;
  background-color: white;
  text-decoration: none;
  padding: 0.7rem 1.7rem;
  border-radius: 2rem;
  color: #CE2829;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  margin-top: 2.5rem;
}



.ustmenuyazi{
  display: flex;
  flex-direction: center;
  text-align: center;
  flex-direction: column;
}

.ustmenuyazi .ustyazi{
  font-family: "Satisfy", cursive;
  color: #CE2829;
  font-size: 2rem;
  font-weight: 400;
}

.ustmenuyazi .ustbaslik{
  font-family: "Barlow", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.menuleralt{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FAF7F2;
}

.menuleralt ul{
  display: flex;
  text-align: center;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}

.menuleralt ul li a img {
  width: 1.7rem;
}

.menuleralt ul li a{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  text-decoration: none;
  align-items: center;
  color: black;
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  gap: 0.5rem;
  background-color: white;
  margin: 1rem 0;
}

.menuleralt ul li a.secili{
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  align-items: center;
  background-color: black;
  color: white;
}

.anapizza{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.anapizza .pizzacontent{
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
  padding: 0 2rem;
  margin: 1rem 0 2.5rem 0;
}

.pizzacontent img{
  margin-top: 1.7rem;
}

.pizzacontent .pizzabaslik{
  display: flex;
  font-family: "Barlow", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.pizzacontent .altsekme{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  margin-bottom: 1.2rem;
  align-items: center;
  align-content: center;
}

.altsekme .sonkisim {
  display: flex;
   align-items: center;
  gap: 5rem
}
.altsekme .sonkisim .kalin {
  font-weight: 700;
  font-size: 1.2rem;
}

footer section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.footermargin{
  display:flex;
  background-color: black;
  color: white;
   gap: 5rem;
  align-items: center;
  margin: 3rem 0 2rem 0;
}

.footersol{
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
}

.footersol .sollogo{
  width: 10rem;
}

.footersol ul img{
  width: fixed;
  height: 2rem;
}

.footersol ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem 0 0 ;
}

.footersol ul li{
  display: flex;
  align-items: left;
  gap: 1rem;
  font-family: "Barlow", sans-serif;
}

.footerorta{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footerorta p{
  font-size: 2rem;
  font-weight: 500;
}

.footerorta ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0 0.5rem 0 0;
  gap:0.5rem;
}

.footerorta ul li a{
  text-decoration: none;
  color: white;
  font-family: "Barlow", sans-serif;
}

.footersag {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footersag ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footersag ul li {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.footersag img {
  width: 5rem;
}
.footersag p{
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  align-self: flex-start;
}


section .footeralt {
  border-top: 1px solid #444;
  width: 100%;
  margin: 1.5rem;
  padding-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 33rem;

  font-family: "Barlow", sans-serif;
}

@media(min-width: 769px) and (max-width: 1086px){
    .menuler ul{
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding: 0;
      margin: 0.5rem;

    }
    
    .menuler ul li {
      display: flex;
      width: 14rem;
            align-items: center;
      justify-content: center;
      text-align: center;
    }

    .dizayn {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .menuleralt ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
    }

    .menuleralt ul li{
      display: flex;
      width: 12rem;
      align-items: center;
      justify-content: center;
    }


    .pizzacontent{
      display: flex;
      width: 60%;
      height: auto;
      margin:0.5rem;
    }

    .altsekme .sonkisim{
      gap:2rem;
    }

.footermargin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

@media(max-width:769px){
    .hero .content{
      display: flex;
      flex-direction: column;
      width: 20rem;
    }
    .menuler ul{
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding: 0;
      margin: 0.5rem;
    }
    
    .menuler ul li {
      display: flex;
      width: 10rem;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .dizayn {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      width: 22rem;
    }

    .sagdizaynust{
      display: flex;
      flex-direction: column;
      width: 22rem;
      text-align: center;
      flex-direction: center;
      align-items: center;
    }
    .sagdizaynalt{
      display: flex;
      flex-direction: column;
      width: 22rem;
      text-align: center;
      flex-direction: center;
      align-items: center;
    }

    .sagdizaynalt .cocuk{
      display: flex;
      width: 7rem;
    }
    .menuleralt ul{
      display: flex;
      flex-wrap: wrap;
       gap: 1.5rem;
      padding: 0;
      margin: 0.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
    }

    .menuleralt ul li{
      display: flex;
      width: 10rem;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    .lezzetusyazi p{
    font-size: 1.2rem;
    }

  .sagdizaynustyazi p{
    font-size: 1.3rem;
    line-height: 1.2rem;

  }
    .sagdizaynustyazi a{
      margin: 1;
      padding: 0 1rem;
  }

  .sagdizaynaltyazi {
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
  }
  .sagdizaynaltyazi a{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    font-size: 1rem;
  }

    .anapizza{
      display: flex;
      flex-wrap: wrap;
    }
    .pizzacontent{
      display: flex;
      width: 60%;
      height: auto;
    }
    .altsekme .sonkisim{
      gap:2rem;
    }

.footermargin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 19rem;
  }

  .footeralt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footeralt .sosyal{
    margin-top: 1rem;
  }

}

@media (orientation: landscape) and (max-height: 500px) {
  
  .hero {
    min-height: 100vh;
    padding: 1rem;
  }

  .hero .content {
    width: 90%;
    margin-bottom: 0;
  }

  .content .slogan {
    font-size: clamp(1.5rem, 4vw, 3rem);
  }

  .content .firsat {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
  }

}


